@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --red: #da2535;
  --gray: #616161;
  --white: #fbfbfb;
  --black: #292929;
  --white-200: #f3f3f3;
}

body {
  background-color: var(--white);
  color: var(--black);
}


.logo {
  font-size: 24px;
  font-family: var(--font-primary);
  color: var(--black);
  font-weight: 700;
}

.logoJp {
  color: var(--red);
}

@media screen and (min-width: 1024px)  {
  .logo {
    font-size: 48px;
  }
}