.intro {
  padding-top: 40px;
}

.introTitle {
  font-size: 32px;
  font-family: var(--font-primary);
  font-weight: 600;
}

.introText {
  font-family: var(--font-secondary);
  margin-top: 20px;
  line-height: 1.7;
}

.introButton {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background ease 0.3s;
  text-align: center;
  font-family: var(--font-secondary);
  text-decoration: none;
}

.introButton:hover {
  background-color: #cc1d2c;
}

.introImage {
  display: none;
}

.imageDesktop {
  display: none;
}

.introSecond {
  margin-top: 40px;
}

.introSTitle {
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
  line-height: 1.4;
}

.introSText {
  font-family: var(--font-secondary);
  margin: 20px 0;
  line-height: 1.7;
  text-align: center;
}

.introSLink {
  color: var(--red);
  text-align: center;
  font-family: var(--font-secondary);
  display: block;
  margin: 0 auto;
}

.populCards {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 90px;
}

.popul {
  margin-top: 60px;
}

.populTitle {
  text-align: center;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 600;
}

.comments {
  margin: 90px 0;
}

.commentsCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.commentsTitle {
  text-align: center;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 600;
  margin: 40px 0;
}

.locationTitle {
  text-align: center;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 600;
  margin: 40px 0;
}

.locationMap {
  display: none;
}

.locationInput {
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-top: 30px;
  font-family: var(--font-secondary);
  overflow: hidden;
  padding-left: 15px;
}

.locationInput input {
  flex: 1;
  border: none;
  padding: 9px 0;
  outline: none;
  margin-left: 5px;
  color: var(--black);
}

.locationSearch {
  background-color: var(--red);
  padding: 8px 15px;
  z-index: 2;
  cursor: pointer;
  transition: background ease 0.3s;
}

.locationSearch:hover {
  background-color: #cc1d2c;
}

@media screen and (min-width: 640px) {
  .intro {
    text-align: center;
  }

  .imageMobile {
    display: none;
  }

  .imageDesktop {
    display: block;
  }

  .introButton {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .populCards {
    align-items: center;
  }

  .commentsCards {
    align-items: center;
    flex-direction: row;
  }

  .locationMap {
    display: initial;
  }

  .locationMapMobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    text-align: left;
  }

  .introFirst {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }

  .introContent {
    flex: 1;
  }

  .introButton {
    max-width: 100%;
    margin-left: initial;
    margin-right: initial;
  }

  .introImage {
    display: flex;
    flex: 1;
  }

  .introSecond {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .introSecondImage {
    flex: 1;
  }

  .introSecondContent {
    flex: 1;
  }

  .introSTitle {
    text-align: initial;
  }

  .introSText {
    line-height: 1.7;
    text-align: initial;
  }

  .introSLink {
    text-align: initial;
    display: block;
  }

  .locationInput {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .introTitle,
  .introSTitle,
  .populTitle {
    font-size: 48px;
  }

  .introText,
  .introButton,
  .introSText,
  .introSLink,
  .locationInput input {
    font-size: 24px;
  }

  .populCards {
    flex-direction: row;
  }

  .locationTitle,
  .commentsTitle {
    font-size: 48px;
    text-align: left;
  }

  .locationInput {
    max-width: 800px;
  }

  .locationSearch {
    padding: 25px;
    color: var(--white);
    font-weight: bold;
    font-size: 24px;
  }

  .introImage span {
    margin-left: auto !important;
  }
}
